.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.navbar-collapse {
  position: fixed
}

.collapse {
  position: fixed
}

body {
  background-color: #EDF0F5;
}


#loggedout-menubar-container {
  background-color: #3F5D9B;
  width: 100%;
  height: 90px;
  padding-top: 17px;
  padding-right: 130px;
  padding-left: 130px;
}

#logo-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

#login-form{
  float:right;
}

#login-form table {
  border-collapse: separate;
  border-spacing: 10px;
}

.caption {
  text-align: center
}


#content {
  width: 80%;
  height: 400px;
  margin: auto;
}


#create-account-form {
  width: 44%;
  float: right;
}

#news-feed {
  max-width: 50%;
  margin: auto
}

/*================= POST ==============*/

#create-post {
  padding-bottom: 20px;
}

#post-button {
  float: right;
}

.post {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.post .post-interactive {
}

#select-post-category-option {
  margin-top: 60px;
}

.post-category {
  width: 50%;
}

#post-category-1 {
  float: left;
}

#post-category-2 {
  float: right;
}

.post-content {
  text-align: justify;
}

/* =========== comment ===============*/
.comment-button {
  width: 100%;
}

.clear-both {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}